@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f8edeb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8edeb;
    --foreground: #003049; /* Using the hex value for primary.500 from theme-config.ts */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
